/// Button component styles. Contains Primary and Secondary styles.
///
/// The "--noStyle" is primarily used for modal 'X' or similar where it should have the accessible functionality of a button, but removes the base styles.
/// These styles can be used on links or buttons.
///
/// Use a `<button>` if it is performing an action, such as submitting a form.
/// Use a `<a>` if it is directing the user to another page.
///
/// @example
///   * CTA's in hero images often go to another page. Therefore they should be links, `<a>`.
///   * A Modal close icon often closes the modal. Therefore it should be a `<button>`.
/// @author Kevin Kendle
/// @group Components
/// @since v1.0.0
.c-button {
  $self: &;
  background-color: $theme__button--1;
  background-color: var(--theme__button__1, #{$theme__button--1});
  border-radius: 0;
  border: size(2) solid $theme__button--1;
  border-color: var(--theme__button--1, #{$theme__button--1});
  color: $theme__text--body;
  color: var(--theme__text--body, #{$theme__text--body});
  cursor: pointer;
  display: inline-block;
  font-family: $theme__font--button;
  padding: size(11) $space__default size(12);
  position: relative;
  text-decoration: none;

  &:hover,
  &:focus {
    color: $theme__text--body;
    color: var(--theme__text--body, #{$theme__text--body});
    text-decoration: underline;

    &::after {
      transform: none;
    }
  }

  &::after {
    border: size(2) solid $theme__button--1;
    bottom: 0;
    content: '';
    display: block;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    transform: translate(#{size(8)}, #{size(8)});
    transition: transform 150ms ease-in-out;
    z-index: -1;
  }

  &:not(:last-of-type) {
    margin-bottom: $space__4;
    margin-right: $space__default;
  }

  &__link {
    max-width: none;
  }

  &__2 {
    background-color: $theme__button--2;
    border-color: $theme__text--body;

    &::after {
      border-color: currentColor;
    }
  }

  &__container {
    margin-bottom: $space__2;
    position: relative;
    z-index: $zIndex--sm;
  }

  &--noStyle {
    background-color: transparent;
    border: 0;
    color: $theme__text--body;
    margin: 0;
    min-width: initial;
    padding: 0;
  }

  //------------
  // FORM
  //------------
  // Gravity Forms
  &.gform_button {
    margin-bottom: 0;
  }
}

/// Style WP Block Button
/// @author Kevin Kendle
/// @group Components
/// @since v1.0.0
.wp-block-button__link {
  $color-length: calc(100% - 40px);
}
