.c-hire {
  $self: &;
  background-color: $green-1;
  border: size(2) solid $green-1;
  display: inline-block;
  max-width: 100%;
  padding: $space__default;
  position: relative;
  width: size(328);

  &::after {
    border: size(2) solid $green-1;
    bottom: 0;
    content: '';
    display: block;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    transform: translate(#{size(8)}, #{size(8)});
    transition: transform 150ms ease-in-out;
    z-index: -1;
  }

  &__title {
    font-size: size(26);
    line-height: 1.4;
    padding-right: $space__5;

    &::after {
      display: none;
    }
  }
}
