// STYLES FOR STYLEGUIDE ONLY
.page-template-template-styleguide {

  .l-section__typography {

    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    p,
    a,
    label,
    button {
      display: block;
      margin-bottom: $space__1;
    }

    ._section {
      margin-bottom: 36px;

      > div {
        display: inline-block;

        &:first-of-type {
          margin-right: $space__6;
        }
      }
    }

    ._styleguide--largeParagraph {
      font-size: 1.375rem;
      line-height: 1.2727;
    }
  }
}
