/// Site header styles.
/// @author Kevin Kendle
/// @group Site Header
/// @since v1.0.0
.site-header {
  padding: 0 .9375rem;
  position: sticky;
  top: 0;
  z-index: $zIndex__nav;
  @media (max-height: calc(230px * 2.5)) {
    position: static;
  }

  .u-wrapper__header {
    align-items: center;
    background-color: $theme__color--white;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    position: relative;
    width: 100%;
    @include for-palm-up {
      flex-wrap: nowrap;
      justify-content: space-between;
    }

    &::before {
      background: $theme__color--white;
      bottom: 0;
      content: '';
      left: 0;
      position: absolute;
      right: 0;
      top: 0;
      z-index: $zIndex__nav--close;
      @include for-lap-up {
        display: none;
      }
    }
  }

  .c-search {

    &__form {
      align-items: center;
      display: flex;
      flex-wrap: wrap;
    }

    &__label {
      @include for-palm-until {
        margin-bottom: $vr__05;
        margin-bottom: var(--vr__05);
      }
      @include for-palm-up {
        align-items: center;
        display: flex;
      }

      // for showing the search label
      // span {
      //   @include for-lap-until {
      //     clip-path: none;
      //     clip: unset;
      //     display: block;
      //     height: auto;
      //     margin: 0;
      //     overflow: visible;
      //     position: static !important;
      //     width: auto;
      //   }
      // }
    }

    &__input,
    &__submit {
      @include for-palm-up {
        margin-bottom: 0;
      }
    }

    &__input {

      &:not(:focus) {
        border-width: 0;
        padding: 0;
        width: 0;
      }
    }

    &__submit {
      height: 1px;
      padding: 0;
      width: 1px;
    }
  }

  .c-socialLinks__link {
    @include for-palm-up {
      margin-bottom: 0;
    }
  }
}
