/// Site header styles.
/// @author Kevin Kendle
/// @group Site Header
/// @since v1.0.0
.site-header {
  background-color: $theme__header--primary;
  background-color: var(--theme__header--primary, #{$theme__header--primary});
  padding-bottom: size(280);
  padding-top: size(80);
}
