/// Site header styles.
/// @author Kevin Kendle
/// @group Site Header
/// @since v1.0.0
.site-header {
  background-color: $theme__header--primary;
  padding-bottom: size(80);
  padding-top: size(80);
}
