/// Site Branding/Logo
/// @author Kevin Kendle
/// @group Site Header
/// @since v1.0.0
.c-siteBranding {
  $self: &;
  text-align: center;

  &__title {
    display: block;
    margin-bottom: $space__2;
    text-decoration: none;
  }

  &__description {
    font-size: size(24);
    margin-left: auto;
    margin-right: auto;
  }
}
